{% extends 'Layout/base.html.twig' %}


{% block body %}

    <a href={{ path("app_avatar_edit") }}> Edit avatar </a>
    <a href={{ path("app_user_login") }}> Connexion </a>
    <a href={{ path("app_user_logout") }}> Deconnexion </a>

{% endblock body %}