{% extends 'Layout/base.html.twig' %}


{% block body %}

    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <button><a href={{ path("app_user_login") }}> Connexion </a></button>
    {% endif %}

    <button><a href={{ path("app_user_create") }}> Création </a></button>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <button><a href={{ path("app_avatar_edit") }}> Edit avatar </a></button>
        <button><a href={{ path("app_user_logout") }}> Déconnexion </a></button>
    {% endif %}

{% endblock body %}