{% extends 'Layout/base.html.twig' %}

{% block body %}
    {{ form_start(create_user_type) }}
    {{ form_rest(create_user_type) }}
    <input type="submit">
    <a href="/login">Connexion</a>
    {{ form_end(create_user_type) }}
{% endblock body %}
