.navbar{
    padding: 30px;
    background-color: #0475ba;
    color: whitesmoke;
    display: table;
    justify-content: space-between;
    width: 100%;
}


.idea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.formulaire{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6%;
}

footer{
    background-color: #0475ba;
    padding: 40px;
}

@media (max-width: 900px){
    .formulaire{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 12%;
    }
}
