/*@font-face {
    font-family: 'poppins';
    src: url(/font/poppins.ttf);
}

body{
    font-family: 'poppins';
}*/

a{
    margin: 30px;
}


.navbar{
    padding: 40px;
    background-color: #0475ba;
    color: whitesmoke;
    display: table;
    justify-content: space-between;
    width: 100%;
}


.v-align {
    display: table-cell;
    vertical-align: middle;
}

.navbar-toggler{
    display: flex;
    justify-content: space-between;
}


.text{
    color: #0475ba;
}

.formulaire{
    padding: 6%;
}

.idea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.title{
    padding: 2%;
}


#profil{
    background-color: #0475ba;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: whitesmoke;
}


@media (max-width: 1000px){
    .intro{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }

    img{
        width: 25%;
        border-radius: 50%;
    }
}