{% extends 'Layout/base.html.twig' %}

{% block body %}
    {{ form_start(edition_password_user_type) }}
    {{ form_rest(edition_password_user_type) }}
    <input type="submit">
    {{ form_end(edition_password_user_type) }}
    <a href={{ path('home') }}>Accueil</a>
{% endblock body %}
